<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I am a Scientist at Los Alamos National Lab</h2>
                
                <hr class="light">
                <p class="text-faded">I am interested in developing bioinformatic workflows, understanding roles of viruses in environments, and analyzing large volumes of next generation sequencing data.</p>
                <p class="text-faded">I am always looking for students (post-bac or post-masters). If you are interested please contact me.</p>
                <!-- <p class="text-faded">Los Alamos, NM 87545</p> -->

                <a href="#contact" class="btn btn-default btn-xl">Contact me</a>
            </div>
        </div>
    </div>
</section>
