<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Migun Shakya, Phd</h1>
            <hr>
            <p>Bioinformatics-Viruses-Evolution-Transcriptomics</p>
            <!-- Icons that tells more about me -->
            <div class="col-lg-1 col-lg-offset-4 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <!-- google scholar -->
            <div class="col-lg-1 col-md-offset-0.2 text-center">
                <a href="https://scholar.google.com/citations?user=5eGzndAAAAAJ&hl=en&oi=ao">
                    <i class="ai ai-google-scholar-square ai-4x wow bounceIn" data-wow-delay=".1s"></i>
                
                </a>
            </div>           
            <!-- orcid -->
            <div class="col-lg-1 col-md-offset-0.2 text-center">
                <a href="https://publons.com/researcher/1541115/migun-shakya/peer-review/">
                    <i class="ai ai-publons ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-1 col-md-offset-0.2 text-center">
                <a href="https://orcid.org/0000-0003-3876-691X">
                    <i class="ai ai-orcid ai-3x wow bounceIn" data-wow-delay=".1s"></i>
                    
                </a>
            </div>
 
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">About</a> -->
        </div>
    </div>
</header>
